section {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;

  span {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16;
    color: #151717;
  };

  h1 {
    background: rgb(82,34,208);
    background: linear-gradient(90deg, rgba(82,34,208,1) 35%, rgba(255,97,150,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
}

@media (min-width: 1080px) {
  section {
    flex-direction: row;
    justify-content: space-between;
  }
}
