.card-project {
  height: 150px;
  max-width: 500px;
  background-color: #F0F0F0;
  padding: 30px;
  border-radius: 5px;

  h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
  }

  .technologies{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    .tag {
      padding: 5px;
      border-radius: 2px;
      background-color: #8455FF;
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 8px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }

  }
  .summary {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

}

@media (min-width: 1080px) {
  .card-project {
    max-width: 400px;
  }
}
