.me {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin-top: 80px;

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

    span {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 16;
      font-family: 'Montserrat', sans-serif;
      color: #151717;
    };

    h1 {
      background: linear-gradient(90deg, rgba(82,34,208,1) 35%, rgba(255,97,150,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 40px;
      font-family: 'Montserrat', sans-serif;
      margin: 0;
    }

    p {
      margin: 0;
      padding-bottom: 20px;
      line-height: 26px;
      font-weight: 400;
      font-family: 'Montserrat', sans-serif;
    }
  }
}



@media (min-width: 1080px) {
  .me {
    flex-direction: row;
    justify-content: space-between;

    .main-content {
      align-items: flex-start;
      max-width: 50%;

      h1 {
        font-size: 56px;
      }
    }
  }
}
